<template>
  <div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <h2 class="font-medium">Clients</h2>
        <div
          v-for="recipient in recipients"
          :key="recipient.id"
          class="item-list bg-white text-color-grey-900 px-2 py-2 mb-1"
          @click="getRecipientEmails(recipient.recipient)"
        >
          {{ recipient.recipient }}
        </div>
      </div>

      <div>
        <div
          v-for="email in recipient_emails"
          :key="email.id"
          class="email-list bg-gray-200 text-color-black-900 px-2 py-2 mb-2"
        >
          <p class="sub mb-2">To: {{ email.subject }}</p>
          <hr />
          <p class="content text-sm font-medium leading-loose">
            {{ email.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { onMounted, reactive, toRefs } from "vue";

  export default {
    props: ["token"],
    setup: (props) => {
      const state = reactive({
        recipients: [],
        recipient_emails: [],
      });

      onMounted(() => {
        getRecipients(props.token);
      });

      const getRecipientEmails = (email) => {
        axios
          .get(`/recipients/emails/${email}/${props.token}`)
          .then((res) => {
            if (res.status === 200) {
              state.recipient_emails = res.data;
            }
          })
          .catch((err) => {
            // console.log(err);
          });
      };

      const getRecipients = (token) => {
        axios
          .get(`/recipients/${token}`)
          .then((res) => {
            if (res.status === 200) {
              state.recipients = res.data.clients;
            }
          })
          .catch((err) => {
            // console.log(err)
          });
      };

      return {
        ...toRefs(state),
        getRecipients,
        getRecipientEmails,
      };
    },
  };
</script>

<style>
  .item-list {
    cursor: pointer;
    text-transform: capitalize;
  }
</style>
