<template>
  <main class="dashboard-main">
    <div v-show="!showSingleMail">
      <search-component></search-component>
    </div>

    <div class="stack-deck-container">
      <transition name="stack-deck">
        <email-table-component
          v-show="!showSingleMail"
          :view-mail="viewSingleMail"
        ></email-table-component>
      </transition>

      <transition name="stack-deck-alt">
        <single-email-component
          v-show="showSingleMail"
          :view-mail="viewSingleMail"
        ></single-email-component>
      </transition>
    </div>
  </main>
</template>

<script>
  import { onMounted, ref } from "vue";
  import EmailTableComponent from "./EmailTableComponent";
  import SingleEmailComponent from "./SingleEmailComponent";
  import SearchComponent from "./SearchComponent";
  import useEmails from "./features/useEmails";

  export default {
    components: {
      EmailTableComponent,
      SingleEmailComponent,
      SearchComponent,
    },
    props: {
      token: {
        type: String,
        required: true,
      },
    },
    setup: (props) => {
      const showSingleMail = ref(false);
      const store = useEmails;

      onMounted(() => {
        store.saveToken(props.token);
        store.getSentEmails();
      });

      const viewSingleMail = () => {
        showSingleMail.value = !showSingleMail.value;
      };

      return {
        showSingleMail,
        viewSingleMail,
      };
    },
  };
</script>

<style scoped>
  .stack-deck-container {
    overflow: hidden;
    display: flex;
  }

  .stack-deck-enter-active {
    transition: all 0.5s;
    transform: translateX(0%);
  }

  .stack-deck-leave-active {
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  .stack-deck-alt-enter-active {
    transition: all 0.5s;
    animation: slide-from-left 0.5s ease;
  }

  .stack-deck-enter-alt-leave-active {
    animation: slide-from-right 0.5s;
  }

  @keyframes slide-from-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes slide-from-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-101%);
    }
  }
</style>
