<template>
  <div class="email-table flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div
          class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Recipient Email
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Subject
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Status
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Actions
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Date
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="mail in mails" :key="mail.id">
                <td class="px-2 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm text-gray-500">
                        {{ mail.recipient }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    {{ mail.subject }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <status-component :mail="mail"></status-component>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <button
                    @click="abortSendingEmailIfPossible(mail.id)"
                    v-if="mail.status == 0 && mail.cancelled != 1"
                    href="#"
                    class="text-white bg-red-500 px-2 py-1 rounded-lg"
                  >
                    Abort
                  </button>

                  <button
                    @click="openMail(mail.id)"
                    href="#"
                    class="text-white bg-green-500 mx-3 px-2 py-1 rounded-lg"
                  >
                    View
                  </button>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    {{ mail.created_at }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { computed } from "vue";
  import useEmails from "./features/useEmails";
  import StatusComponent from "./StatusComponent";

  export default {
    components: {
      StatusComponent,
    },
    props: ["viewMail"],
    setup: (props) => {
      const {
        emails,
        updateShowing,
        search_result,
        abortSendingEmail,
      } = useEmails;

      const mails = computed(() => {
        return search_result.value.length > 0
          ? search_result.value
          : emails.value;
      });

      const openMail = (mail_id) => {
        updateShowing(mail_id);
        props.viewMail();
      };

      const abortSendingEmailIfPossible = (email_id) => {
        abortSendingEmail(email_id);
      };

      return {
        mails,
        openMail,
        abortSendingEmailIfPossible,
      };
    },
  };
</script>

<style>
  .email-table {
    width: 100%;
  }
  tr {
    cursor: pointer;
  }
  tr:hover {
    background-color: rgba(235, 235, 235, 0.288);
    transition: background-color 0.1s ease-in-out;
  }
</style>
