<template>
  <div
    class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-md w-full space-y-8">
      <form
        class="mt-8 space-y-6"
        action="#"
        method="POST"
        @submit="handleSubmit"
      >
        <div class="rounded-md shadow-sm -space-y-px">
          <div v-if="state.failedAttempt" class="text-blue-500">
            Unable to {{ state.signing_up ? "register" : "login" }}
          </div>

          <div v-if="state.signing_up">
            <label for="username" class="sr-only">Username</label>
            <input
              v-model="state.username"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Username"
            />
          </div>

          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input
              type="email"
              v-model="state.email"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email address"
            />
          </div>

          <div>
            <label for="password" class="sr-only">Password</label>
            <input
              v-model="state.password"
              type="password"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Password"
            />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="text-sm">
            <span
              role="button"
              @click="isSigningUp()"
              class="font-medium text-indigo-600 hover:text-indigo-500"
            >
              Signup?
            </span>
          </div>
        </div>

        <div>
          <button
            :disabled="state.disableSubmit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            <div v-if="state.disableSubmit" class="lds-dual-ring"></div>
            <span v-if="!state.disableSubmit">
              {{ state.signing_up ? "Sign up" : "Login" }}
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { computed, reactive } from "vue";

  export default {
    setup() {
      const state = reactive({
        signing_up: false,
        username: "test-username",
        email: "test-user@mail.com",
        password: "password",
        disableSubmit: false,
        failedAttempt: false,
      });

      const isSigningUp = () => {
        state.signing_up = !state.signing_up;
      };

      const getPostData = computed(() => {
        if (state.signing_up) {
          return {
            username: state.username,
            email: state.email,
            password: state.password,
          };
        } else {
          return {
            email: state.email,
            password: state.password,
          };
        }
      });

      const getSignupLoginReponse = () => {
        const uri = state.signing_up ? "/register" : "/login";

        return axios.post(uri, getPostData.value);
      };

      const handleSubmit = (e) => {
        e.preventDefault();
        state.disableSubmit = true;

        getSignupLoginReponse()
          .then((response) => {
            state.disableSubmit = false;
            if (response.data.success) {
              window.location.href = "/dashboard";
            } else {
              state.failedAttempt = true;
            }
          })
          .catch((err) => {
            state.disableSubmit = false;
            state.failedAttempt = true;
          });
      };

      return {
        state,
        isSigningUp,
        handleSubmit,
      };
    },
  };
</script>

<style>
</style>
