<template>
  <div>
    <p v-if="no_result" class="text-sm text-red-500">No result</p>
    <div class="mt-1 relative rounded-md shadow-sm">
      <div
        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
      ></div>

      <form @submit="handleSubmit">
        <input
          type="text"
          v-model="search_term"
          v-on:keydown="searchMail"
          class="block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
          placeholder="Search mail"
        />
        <div class="absolute inset-y-0 right-0 flex items-center">
          <select
            id="category"
            name="category"
            v-model="search_by"
            class="h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md"
          >
            <option value="all" selected>all</option>
            <option value="recipient">by recipient</option>
            <option value="subject">by subject</option>
            <option value="content">by content</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { watch, reactive, toRefs } from "vue";
  import useEmails from "./features/useEmails";

  export default {
    setup: () => {
      const { updateSearchResult, clearSearchResult, search_result } = useEmails;

      const state = reactive({
        search_term: "",
        search_by: "all",
        no_result: false,
      });

      watch(
        () => search_result.value,
        (curr) => {
          if (state.search_term.length > 1 && curr.length == 0) {
            state.no_result = true;
          } else {
            state.no_result = false;
          }
        }
      );

      const handleSubmit = (e) => {
        e.preventDefault();
        updateSearchResult(state.search_term, state.search_by);
      };

      const searchMail = (e) => {
        if (e.target.value == "") return clearSearchResult();
        updateSearchResult(state.search_term, state.search_by);
      };

      return {
        ...toRefs(state),
        handleSubmit,
        searchMail,
      };
    },
  };
</script>

<style>
</style>
