<template>
  <div>
    <span
      :class="getStatusClass()"
      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
    >
      {{ getStatusText() }}
    </span>
  </div>
</template>

<script>
  export default {
    props: ["mail"],
    setup: ({ mail }) => {
      const getStatusText = () => {
        if (mail.cancelled) return "Aborted";
        if (mail.status == 1) return "Delivered";
        if (mail.status == -1) return "Failed";
        if (mail.status == 0) return "Pending";
      };

      const getStatusClass = () => {
        if (mail.cancelled) return "bg-blue-100 text-blue-800";
        if (mail.status == 1) return "bg-green-100 text-green-800";
        if (mail.status == -1) return "bg-red-100 text-red-800";
        if (mail.status == 0) return "bg-yellow-100 text-yellow-800";
      };

      return {
        getStatusText,
        getStatusClass,
      };
    },
  };
</script>

<style>
</style>
